@import url('https://fonts.googleapis.com/css?family=BioRhyme');

body
{ background-color: coral;
  font-family: "BioRhyme", Times, Monospace, serif;
  line-height: 0.9;
}

div#sundara_link, div#michael
{
  margin-top:2px;
  margin-bottom:1px;
  line-height: 0.5;
}
